{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">📚 Список курсов</h1>
    
    <div class="row">
        {% for course in courses %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="#" class="btn btn-primary">Изучать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}